.post {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: var(--gray-cards);
    width: 100%;
    align-items: flex-start;
    border-radius: .5rem;

}
.headerPost, .info{
    display: flex;
}
.headerPost {
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
}
.info {
    align-items: center;
}
.info div {
    margin-left: 1rem;
}
.post h3{
    font-size: 1rem;
    color: var(--gray-text-titles);
}
.headerPost h4{
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--gray-text-apoio);
}
.text {
    margin-top: 1.5rem;
    color: var(--gray-text);
}
.text p span {
    color: var(--green);
}
.post textarea {
    resize: none;    
    border: none;
    width: calc(100% - 2rem);
    height: 6rem;
    background-color: var(--gray-background);
    color: var(--gray-text);
    border-radius: .8rem;
    margin-block: 1rem;
    padding: 1rem;
    
}
.post textarea:focus-visible{
    outline: 1px solid var(--green);
}