.header{
  display: flex;
  background-color: var(--gray-cards);
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
}
.posts {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
}
.application {
  display: flex;
  width: 75%;
  margin-top: 2rem;
  gap: 2rem;
  align-items: flex-start;
}