.header{
  display: flex;
  background-color: var(--gray-cards);
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}
.application{
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}