.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-cards);
    border-radius: .5rem;
    width: fit-content;
  }
  .content {
    position: relative;
    top: -24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .profile-card h3{
    color: var(--white);
    margin-top: 1rem;
  }
  .profile-card h4{
    color: var(--gray-text-apoio);
    font-weight: 400;
  }
.line{
    height: 1px;
    width: 100%;
    background-color: var(--gray-divider);
    margin-block: 1.75rem;
  }